/*
h2{
    color:pink;
}

p{
    color:blue
}

button{
    background-color:blue;
    color:pink;
}

header{
    text-align: center;
    background-color: blue;
    padding: 30px;
    margin: 30px;
    border-style: groove;

}

body{
    text-align:justify;
}


section{
    border: 1px solid blue;

}
*/

body{
    background-color: #32658f;
}

#main-heading{
    font-family: fantasy;
    color: #e0e0e0;
    text-align: center;
    font-size: xxx-large;
    font-weight: 200;
    margin:5px;
}

nav{
    text-align: center;
    margin: 10px;
    
}

nav a{
    color: #e0e0e0;
    font-size:x-large;
    font-family: fantasy;
    text-decoration-color: rgb(250, 114, 177);
    padding: 5px 10px;
    
    
}

section{
    border: 5px solid gainsboro;
    border-style:inset;
    margin: 5px;
    padding:10px;
}

h2{
    color:rgb(240, 46, 185) ;
    font-size: x-large;  
    font-family: fantasy ; 
    font-weight: 100; 
}

h3{
    color: #e0e0e0;
    text-decoration: underline;

}

h4{
    font-size:large ;
    font-style: italic;
}

#aboutmeparagraph{
    padding: 3px 3px 3px 3px;
    font-size:large;
}

ul.a{
    list-style-type:square ;
    font-size: large;
}

#JengaBiz{
    font-size:large;
}

#NairobiHousing{
    font-size:large;
}

footer{
    text-align: center;
    font-size: small;
}

